* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }

  html{
    height:100%;
}


  body {
    min-height:100%;
    padding:0; 
    margin:0;
    background-color: #CAD0E6;
  }

  body{
    position:relative;
    padding-bottom:60px;          
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-left: 7%;
  padding-right: 13%;
  width: 100%;
  height: 100px;
  background-color: #0D2266;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


a {
  text-decoration: none;
}

.logo {
color:#c5c5c7;
/* font-size: 10px; */
}
.logoh1 {
  color: #646b82;
  font-size: smaller;
    font-style: italic;
}


 nav ul li {
   list-style-type: none;
   display: inline-block;
   padding: 10px 20px;
   
 }



 button {
  border: none;
  padding: 10px 12px;
  border-radius: 45px;
  color: #0D2266;
  font-weight: bold;
  font-size: 15px;
   transition: .2s;
   background-color: #94ADFF;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }

 button:hover {
   transform: scale(1.1);
   cursor: pointer;
 }

 .travel-text {
   text-align: center;
   color: #0D2266;
 }

.bigCon {
  display: flex;
    justify-content: center;
  }
  
  .boxContainer {
    display: flex;
    margin: 25px;
    width: 55vh;
    height: 52px;
    border: 1px solid #0D2266;
    padding: 0px 26px;
    border-radius: 50px;
    flex-direction: row-reverse;
    align-items: center;
  }
.search-btn {
  color: #0D2266;
  padding: 2px;
}
  

  .search {
    border: none;
    height: 97%;
    width: 96%;
    padding: 0px 5px;
    font-size: 18px;
    background-color: transparent;
    resize: none;
    outline: none;
  }


  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 0px;
    gap: 30px;
  }

  .item {
    margin: 15px;
  }

  .item img {
    border-radius: 12px;
    width: 100%;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  
  .item h2,
  .item h4
  {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: #0D2266;
  }
   span {
    font-weight: lighter;
    color: #0D2266;
  }

  .btn-item {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  

 /*  city card */
.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 38px 141px;
  gap: 30px;
}
.card-info, .card-text {
  display: flex;
    flex-direction: column;
    gap: 21px;
    color: #0D2266;
}

.card-container img {
  border-radius: 12px;
  width: 57%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text h1 {
  font-size: 28px;
  color: #0D2266;
}



/* cart */
.fav-text  {
  text-align: center;
  margin: 12px;
  color: #0D2266;
}

.cart-container {
  display: flex;
  justify-content: space-around;
    align-items: center;
    padding: 60px 31px;
}

.img-container img {
  width: 100%;
  height: 250px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info-container h1,
.info-container h2,
.info-container button
 {
  margin: 10px;
  color: #0D2266;
}

/* random-page */

.random-header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #94ADFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.random-header {
  margin: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.random-header h3,
.random-header p {
  color: #0D2266;
}

.random-info {
  display: flex;
    padding: 42px 1px;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    color: #0D2266;
}

.random-info img {
  border-radius: 12px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.random-info h1 {
  font-size: x-large;
}
.random-info p {
  width: 58%;
  color: #0D2266;
}

/* footer */

footer
{
    position:absolute;
    bottom:0px;
    width: 100%;
    height:  85px;
    background-color: #0D2266;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer-info {
  margin: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: #c5c5c7;
  
}
.footer-info h3 {
  font-family: cursive;
}





/* mobil version */
  @media screen and (max-width: 1000px) {
    .items {
      grid-template-columns: repeat(2, 1fr);
    }
    
    nav ul li {
      list-style-type: none;
      display: inline-block;
      padding: 12px 6px;
   
    }
    button {
      border: none;
      padding: 9px 12px;
      border-radius: 45px;
     }
     nav {
      padding-left: 13px;
      padding-right: 10px;
    }

    .card-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 38px 5px;
      gap: 18px;
  }
    
    .card-container img, .random-info img {
      border-radius: 12px;
      width: 100%;
      height: 300px;
    }

    .cart-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 30px 0px;
      gap: 1px;
      margin: 12px;
    }

    .img-container img {
      border-radius: 12px;
      width: 100%;
      height: 300px;
    }
    .random-info p {
      width: auto;
    }
    .random-info {
      margin: 10px;
    }
    
  
     
  }
  
  @media screen and (max-width: 768px) {
    .items {
      grid-template-columns: repeat(1, 1fr);
    }
    .card-container img {
      border-radius: 12px;
      width: 100%;
    }
  }

  